# Python
__pycache__/
*.pyc
.venv/
.env

# VS Code
.vscode/

# OS
.DS_Store

# Outputs
outputs/

#YOLO Models
yolo11n.pt
yolov8n.pt
yolo26s.pt

#NCNN Models
yolo11n_ncnn_model/
yolov8n_ncnn_model/
yolo26s_ncnn_model/
yolo26n_ncnn_model/